@charset "UTF-8";
@import url('./fonts.css');

/* 불릿기호 없애기 */
ul {
    list-style: none;
    width: 200px;
    border: 1px solid#000;
}

/* 비아시아 언어만 줄바꿈 */
.eng li{
    word-wrap: break-word;
}
.wrapping li{
    word-break: break-all;
}
